@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: "RalewayFont";
   src: url("../app/fonts/Raleway-VariableFont_wght.ttf") format("truetype");
   /* Add additional font formats if necessary */
   /* Specify the correct path to the font files */
}
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap");

* {
   scroll-behavior: smooth !important;
}
body {
   background-color: #fff6f6;
}
body,
html {
   overflow-x: hidden;
}
* {
   font-family: "RalewayFont", sans-serif;
   font-style: normal;
   box-sizing: border-box;
}
.drop-shadow {
   box-shadow: -6px 8px 0px 0px #00000040;
}

.what-is-schmeckle-header-top {
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
   z-index: 50;
   /* border: 1.5px solid black;

   border-image-source: linear-gradient(
      186.26deg,
      rgba(255, 255, 255, 0.5) 17.02%,
      rgba(0, 0, 0, 0.5) 107.21%
   ); */
}
.custom-outline {
   text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
      -1px 1px 0 #000, 1px 1px 0 #000;
}
.main-button-bottom {
   top: 12px;
   margin-left: -8px;
   transition: 0.2s ease-in-out all;
}
.main-button-bottom.hovered {
   top: 0px;
   margin-left: -1px;
}

.gradient-overlay {
   position: absolute;
   left: 0;
   width: 100%;
   background: rgb(255, 246, 246);
   background: linear-gradient(
      180deg,
      rgba(255, 246, 246, 1) 0%,
      rgba(255, 246, 246, 1) 20%,
      rgba(255, 255, 255, 0) 100%
   );
   z-index: 40;
}
@media screen and (max-width: 600px) {
   .join-container {
      background-image: url("../assets/jointhecommunityimage-mobile.png") !important;
      background-size: 97vw;
      background-repeat: no-repeat;
   }
   .footer {
      /* Rectangle 294 */
      background-image: url("../assets/footer-mobile.png") !important;
      background-repeat: no-repeat;
      background-size: cover !important;
      width: 100vw !important;
   }
   .main-button-bottom {
      top: 6px;
      margin-left: -8px;
   }
}
.flipped-octopus {
   transform: scaleY(-1);
   rotate: 45deg;
}

.flipped-right-img {
   transform: scaleX(-1);
}
.join-container {
   background-image: url("../assets/jointhecommunityimage.png");
}
.footer {
   /* Rectangle 294 */
   background-image: url("../assets/footerimage.png");
   background-repeat: no-repeat;
   background-size: cover;
   width: 100vw;
}
.header-bottom {
   transition: all ease 0.2s;
}
.header-container {
   transition: all ease 0.2s;
}

@keyframes slide {
   0% {
      transform: translateX(0);
   }
   100% {
      transform: translateX(-100%);
   }
}

.logos {
   overflow: hidden;
   background: red;
}

.logos-slide {
   display: grid;
   grid-template-columns: repeat(10, 120px);
   animation: 10s slide linear infinite;
}

.logo-img {
   margin-right: 20px;
}

.scroll {
   position: relative;
   display: flex;
   width: 100%;
   overflow: hidden;
}

.scroll div {
   white-space: nowrap;
   animation: scroll 25s linear infinite;
   animation-delay: calc(25s * -1);
}

.scroll div:nth-child(2) {
   animation: scroll2 25s linear infinite;
   animation-delay: calc(25s / -2);
}

@keyframes scroll {
   0% {
      transform: translateX(100%);
   }

   100% {
      transform: translateX(-100%);
   }
}

@keyframes scroll2 {
   0% {
      transform: translateX(0);
   }

   100% {
      transform: translateX(-200%);
   }
}

.ImageBox div {
   display: flex;
   align-items: center;
   justify-content: center;
}

.logo-Image {
   max-width: 140px;
   scale: 0.8;
   margin: 0px 20px;
}
@keyframes portal-turn {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}
.portal-turn {
   animation: portal-turn 10s linear infinite;
}
.tokenomics-table-line {
   background: linear-gradient(180deg, #cc00ff 0%, #ff0000 100%);
   border-radius: 10px;
}
.tokenomics-element-title {
   background: -webkit-linear-gradient(90deg, #4532da 0%, #250d41 100%);
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
}
.tokenomics-element-main-text {
   color: #2400ff;
   text-shadow: 3px 0px rgba(69, 49, 216, 1);
}

.text-inside-container-roadmap {
   background: linear-gradient(black, black) padding-box,
      linear-gradient(to left, #fd4e4e, #0500ff) border-box;
   border: 5px solid transparent;
   box-shadow: 0px 9px 0px 0px #00000040;

   border-image-source: linear-gradient(270deg, #fd4e4e 0%, #0500ff 101.58%);
}
.tokenomics-line {
   background: -webkit-linear-gradient(270deg, #000aff 0%, #000000 88.53%);
   left: 50%;
   transform: translate(-50%);
   transition: all ease-in-out 0.8s;
}
@keyframes animated-roadmap {
   from {
      opacity: 0;
      scale: 0.6;
   }
   to {
      opacity: 1;
      scale: 1;
   }
}
.animated-roadmap {
   animation: animated-roadmap 1s ease-in-out;
}
.tokenomics-main-page-container {
   transition: height 2s ease;
   overflow: hidden;
}
@keyframes snail-movement {
   0% {
      transform: translateX(200px); /* Move to the right */
   }
   49% {
      transform: translateX(0px); /* Move back to the start */
   }
   50% {
      transform: translateX(0px) scaleX(-1); /* Flip horizontally immediately */
   }
   99% {
      transform: translateX(200px) scaleX(-1); /* Move to the right, still flipped */
   }
   100% {
      transform: translateX(200px); /* Flip back to original position */
   }
}

.snail-image-move-anim {
   animation-name: snail-movement;
   animation-duration: 10s;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in-out;
}

.swiper-scrollbar {
   display: none;
}
